@model ShopWebApplication.Models.MemberRegisterViewModel

<h2>會員註冊</h2>

<form asp-action="Index" method="post">
    <div class="form-group">
        <label for="Username">會員暱稱</label>
        <input type="text" class="form-control" id="UserId" name="UserId" asp-for="UserId" required />
        <!-- 使用 ValidationMessageFor 顯示錯誤 -->
        <span class="text-danger">@Html.ValidationMessageFor(model => model.UserId)</span>
    </div>

    <div class="form-group">
        <label for="Email">電子郵件</label>
        <input type="email" class="form-control" id="Email" name="Email" asp-for="Email" required />
        <!-- 使用 ValidationMessageFor 顯示錯誤 -->
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>
    </div>

    <div class="form-group">
        <label for="Email">真實姓名</label>
        <input type="text" class="form-control" id="Name" name="Name" asp-for="Name" required />
        <!-- 使用 ValidationMessageFor 顯示錯誤 -->
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Name)</span>
    </div>

    <div class="form-group">
        <label for="Password">密碼</label>
        <input type="password" class="form-control" id="Password" name="Password" asp-for="Password" required />
        <!-- 使用 ValidationMessageFor 顯示錯誤 -->
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
    </div>

    <div class="form-group">
        <label for="ConfirmPassword">確認密碼</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" asp-for="ConfirmPassword" required />
        <!-- 使用 ValidationMessageFor 顯示錯誤 -->
        <span class="text-danger">@Html.ValidationMessageFor(model => model.ConfirmPassword)</span>
    </div>

    <button type="submit" class="btn btn-primary">註冊</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}